
.toppen {
  height: 500px;
  width: auto;
  border: 2px solid black;
  padding: 50px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.toppen img {
max-height: 500px;
justify-self: center;
z-index: -1;

}

.toppen h1 {
  justify-self: center;
   z-index: 1;
   
}

h1 { 
    color: black;
    font-size: 40pt;
    font-family: arial;

  } 
  
  h3 {
    color:black;
    font-size: 25pt;
    font-family: arial;
    text-align: center;
    margin-top: 75px;
  }

  h4 {
    color:black;
    font-size: 20px;
    font-family: arial;
    text-align: left;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 0%;
    margin-bottom: 0;
    
  }
  .ingress {
    justify-items: center;
    justify-self: center;
    color: DarkSlateGray;
    width: 89%;
  }

  .ingress-text {
    font-size: 16pt;
    text-align: center;
    width: 75%;
    margin-bottom: 40px;
  }
  
  .nesting-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center ;    
  }

  .text-image-container {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    padding: 50px 25px;
    position: relative;
    width: 100%;
  }
  
  
.image-with-caption, 
.text-block {
  flex: 1;
  max-width: 500px;
}

.image-with-caption img {
width: 100%;
display: block;
}

.caption {
  font-size: 12pt;
  text-align: left;
  color: black;
  margin-top: 8px;

}

.text-block {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}    
   
  .text-block p {
    font-size: 12pt;
    margin-top: 5px;
    line-height: 1.6;
  }
    
  .imagecontainer {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 350px;
    width: auto;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px; 
   
  }

  .imagecontainer img {
    object-fit: cover;
    position: relative;
    top: 50px;

   } 

  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 20px;
    padding: 50px 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
  }

  .container3 h4 {
    margin-top: 20px;
  }

  .text-block2 {
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
}    

.text-block2 p {
  font-size: 12pt;
  margin-top: 5px;
  line-height: 1.6;

}
  .knappar
  {
   display: flex; 
    justify-content: center;
    gap: 45px;
  
  }

  a {
    display: block;
    background: dodgerblue;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 150px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
  }

  a:hover {
    background: darkblue;
  }