html,
body {
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.toppen {
  background-image: url("bilder/Wallpaper.jpg");
  border-bottom: 2px solid black;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.toppen h1 {
  text-align: center;
  margin-bottom: 40px;

}

h1 {
  color: purple;
  font-size: 100pt;
  font-family: "Roboto";
  font-weight: bold;

}

h3 {
  color: black;
  font-size: 25pt;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  margin-top: 75px;
}

h4 {
  color: black;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 0%;
  margin-bottom: 0;

}


.ingress {
  justify-items: center;
  justify-self: center;
  color: DarkSlateGray;
  width: 89%;
}

.ingress-text {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 85%;
  margin-bottom: 40px;
}

.nesting-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}


.text-image-container,
.text-image-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 30px;
  padding: 50px 25px;
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.image-with-caption,
.text-block {
  flex: 1;
  max-width: 500px;
}

.image-with-caption img {
  width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}

.caption {
  font-size: 12pt;
  font-family: arial;
  text-align: left;
  color: black;
  margin-top: 20px;
}


.text-block {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.text-block p {
  font-size: 12pt;
  margin-top: 5px;
  line-height: 1.6;
}



.full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: purple;
  border-radius: 10px;

}


.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;

}


.container3 h4 {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-block2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.text-block2 p {
  font-size: 12pt;
  margin-top: 5px;
  line-height: 1.6;

}

.knappar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 45px;

}

a {
  display: block;
  background: purple;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 150px;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
}

a:hover {
  background: color-mix(in srgb, purple 70%, transparent);
}


@media (max-width: 630px) {
  .toppen {
    height: auto;
    min-height: 300px;
  }

  h3 {
    text-align: center;

  }

  .ingress {
    justify-items: center;
    justify-self: center;

  }

  .ingress-text {
    text-align: center;
    margin-bottom: 40px;

  }

  h4 {
    text-align: left;
  }

  .text-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 25px;
    position: relative;
    width: 100%;

  }

  .text-image-container-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px 25px;
    position: relative;
    width: 100%;

  }

  .caption {
    text-align: lefts;
    padding-bottom: 25px;
  }

  .text-block {
    margin-left: 10px;
    margin-right: 10px;

  }

  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
    padding: 50px 25px;
    width: auto;

  }

}