body{

}
.toppen {
  position: relative;
  height: 500px;
  width: auto;
  background-image: url('bilder/IMG_1327.jpg');
  background-size: cover;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 { 
    color: white;
    font-size: 65px;
    font-family: arial;
    text-align: center;
  } 
  
  h3 {
    color:black;
    font-size: 25px;
    font-family: arial;
    text-align: center;
  }

  .ingress {
    font-size: 20px;
    justify-items: center;
    justify-self: center;
    color: DarkSlateGray;
    width: 89%;
  }

  .ingress-text {
    text-align: center;
    width: 75%;
    margin-bottom: 40px;
  }
  
  .text-image-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 20px;
    align-items: start;
    padding-bottom: 20px;
  }
  
  
.image-with-caption {
  width: 100%;
  max-width: 500px;
  justify-self: center;

}
h4 {
  color:black;
  font-size: 20px;
  font-family: arial;
  text-align: left;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 0%;
  margin-bottom: 0;
  
}
  .text-block {
    text-align: left;

  }   
   
  p {
margin-top: 5px;

  }
  .image-with-caption img {
width: 100%;
  }

  .caption {
    font-size: 12px;
    justify-self: center;
    color: black;
  }

  .imagecontainer {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 350px;
    width: auto;
    overflow: hidden; 
    
  }

  .imagecontainer img {
    object-fit: cover;
    position: relative;
    top: 50px;

   } 
  .container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  }

  .container3 h4 {
    margin-top: 20px;
  }
  .text-block2 {
    text-align:left ;
  }

  .knappar
  {
   display: flex; 
    justify-content: center;
    gap: 45px;
  
  }

  a {
    display: block;
    background: dodgerblue;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 150px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
  }

  a:hover {
    background: darkblue;
  }